.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    position: relative;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #000;
    border-color: #000 transparent #000 #000;
    box-shadow: inset 0 0 0 3px #61dafb;
    background-color: #fff;
    width: 400px;
  }
  
  .login-header {
    background-color: #61dafb;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: -30px -30px 30px -30px;
    text-align: center;
  }
  
  .login-header h1 {
    color: #fff;
    margin: 0;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-submit {
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link a {
    color: #999;
  }
  