table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    border-bottom: 2px solid black;
  }
  
  thead th {
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
  }
  
  tbody tr {
    border-bottom: 1px solid grey;
  }
  
  tbody td {
    padding: 10px;
    padding-bottom: 20px;
  }
  
  tbody tr:last-child {
    border-bottom: none;
    font-weight: bold;
  }
  