.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-box {
    position: relative;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid lightblue;
    background-color: #fff;
    width: 400px;
    height: 450px; 
    display: flex;
    flex-direction: column; 
  }
  
  .register-header {
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: -30px -30px 30px -30px;
    text-align: center;
  }
  
  .register-header h1 {
    color: #fff;
    margin: 0;
  }
  
  form label {
    display: block;
    margin-bottom: 15px;
  }
  
  form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none; 
    border-bottom: 2px solid #000; 
    outline: none; 
  }
  
  .register-submit {
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: auto;
    text-align: center;
  }
  
  .login-link a {
    color: #999;
  }

  .profit-prediction-container {
    margin-top: 2rem;
    text-align: center;
  }
  
  .calculate-button {
    margin-top: 1rem;
  }
  
  .profit,
  .loss {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .profit {
    color: green;
  }
  
  .loss {
    color: red;
  }