.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-box {
    position: relative;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid lightblue;
    background-color: #fff;
    width: 400px;
    height: 450px; /* Add this line to make the box taller */
    display: flex;
    flex-direction: column; /* Add this line to align the elements vertically */
  }
  
  .register-header {
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: -30px -30px 30px -30px;
    text-align: center;
  }
  
  .register-header h1 {
    color: #fff;
    margin: 0;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none; /* Remove the border */
    border-bottom: 2px solid #000; /* Add bottom border only */
    outline: none; /* Remove outline */
  }
  
  .register-submit {
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: auto;
    text-align: center;
  }
  
  .login-link a {
    color: #999;
  }