.sell-form-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lightblue;
  width: 10%; 
  margin-left: auto; 
  margin-right: auto; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: coral;
}